@font-face {
    font-family: 'pier_sansbold';
    src: url('/static/plugins/fonts/piersans-bold-webfont.woff2') format('woff2'),
         url('/static/plugins/fonts/piersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pier_sansbold_italic';
    src: url('/static/plugins/fonts/piersans-bolditalic-webfont.woff2') format('woff2'),
         url('/static/plugins/fonts/piersans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pier_sansitalic';
    src: url('/static/plugins/fonts/piersans-italic-webfont.woff2') format('woff2'),
         url('/static/plugins/fonts/piersans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pier_sansregular';
    src: url('/static/plugins/fonts/piersans-regular-webfont.woff2') format('woff2'),
         url('/static/plugins/fonts/piersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
