{{ $data := index site.Data site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}

<section class="hero-area">
	<video src="https://www.youtube.com/watch?v=tQ0yjYUFKAE" autoplay loop playsinline muted></video>
<div class="block">
		<h1>{{ .title | markdownify }}</h1>
		<p>{{ .content | markdownify }}</p>
		{{ if .button.enable }}
		{{ with .button }}
		<a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
		{{ end }}
		{{ end }}
</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
