{{ $data := index site.Data site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}

<section class="hero-area">
	<video src="https://drive.google.com/uc?export=preview&id=1PU3EapSP1Rb0Wkq3HQIySwJu7GPPiAyR#t=1" autoplay loop playsinline muted></video>
<div class="block">
		 <img src="/images/Go-Fish-Logo-Front-Page.png" alt="Go Fish Video The Catch" width="600">
	<br>
		{{ if .button.enable }}
		{{ with .button }}
		<a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
		{{ end }}
		{{ end }}
</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
