{{ $data := index site.Data site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" id="home">
<video src="https://drive.google.com/file/d/1PU3EapSP1Rb0Wkq3HQIySwJu7GPPiAyR/preview"></video>
	<div class="block">
		<h3 style="margin-bottom: -15px;"><b>{{ .title | markdownify }}</b></h3>
		<img src="/images/Go-Fish-Logo-Front-Page.png" alt="Go Fish Video Logo" width="600">
		<p style="margin-top: 10px"><b>{{ .content | markdownify }}</b></p>
		{{ if .button.enable }}
		{{ with .button }}
		<a class="venobox btn btn-transparent page-scroll" data-autoplay="true" data-vbtype="video" href="{{ .link | safeURL }}">{{ .label }}</a>
		{{ end }}
		{{ end }}
	</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
