  
{{ $data := index site.Data site.Language.Lang }}

{{ if $data.commercialproductionservices.about.enable }}
{{ with $commercialproductionservices.about.about }}
{{"<!-- about -->" | safeHTML}}
<section class="section section-bg about-2" id="commercial-production-services">
	<div class="container">
				<div class="content-block">
					<h2><b>{{ .title | markdownify }}</b></h2>
					<p>{{ .content | markdownify }}</p>
				</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
