{{ $data := index site.Data site.Language.Lang }}

{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section" id="portfolio">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>
				<div class="row shuffle-wrapper justify-content-center">
	
			{{"<!-- portfolio item -->" | safeHTML}}
							{{ range .portfolio_item }}
			<div class="col-lg-4 col-md-6 shuffle-item"
					<img class="img-fluid" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FImage&psig=AOvVaw1Fl0XKNeDmbTfIRHzys-Ln&ust=1623054659627000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCo0PXLgvECFQAAAAAdAAAAABAD">
					<div class="caption">
						<a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/mrvWHfH5pm0">
							<i class="ti-search"></i>
						</a>
						<h4 class="mt-3">
							Hey
						</h4>
						<p>cool</p>
					</div>

			</div>

		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
